body {
  height:30000x;
  margin:0;
  padding:0;
}


#box {
  background:red;
  width:200px;
  height:200px;
  text-align:center;
  font-size:28px;
  position:relative;
}

.boxText {
  position:relative;
  top:80px;
}

#demo {
  position:fixed;
  right:50px;
  top:0px;
  padding:20px;
  background:black;
  color:white;

}

#space {
  height:40000px;
}
